nav { 
    height: auto;
    background-color: #2D4E5E !important;
}

nav h1, nav button {
    font-family: 'Nunito', sans-serif !important;
    color:#C5FCEE !important;
    letter-spacing: 1px !important;
}

main {
    background-image: url('../../assets/images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main h1 {
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}


.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #2D4E5E !important;
    /* background-color: #3d4e4d !important; */
}


.css-10hburv-MuiTypography-root, .css-83ijpv-MuiTypography-root {
    font-family: 'Nunito', sans-serif !important;
    text-transform: uppercase;
    color:#c5fcee !important;
}


.css-1kkpk3h-MuiButtonBase-root-MuiButton-root {
    border-bottom: 3px solid transparent !important;
    padding: 2px 6px !important;
    border-radius: 0 !important;
}

.css-1kkpk3h-MuiButtonBase-root-MuiButton-root:hover {
    background-color: transparent !important;
    border-bottom-color: #C5FCEE !important;
}

.css-1d4vqq0-MuiButtonBase-root-MuiListItemButton-root {
    display: flex !important;
    flex-direction: column !important;
}

.css-1uwgr7b-MuiTypography-root {
    font-family: 'Nunito', sans-serif !important;
    color:#2D4E5E !important;
}

main a.dashboard-add-certificate .MuiPaper-root:hover {
    background-color: rgb(184, 96, 9) !important;
}

main a.dashboard-view-certificates .MuiPaper-root:hover {
    background-color: #72537c !important;
}

.css-zcbmsk-MuiButtonBase-root-MuiButton-root:hover, .css-1knaqv7-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #00E2C0 !important;
    color: #000174 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .css-1pxa9xg-MuiAlert-message {
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    background-color: #fffade15;
    border: 4px solid #E8D5B5 !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color:#000 !important;
    font-weight: bold !important;
    /* font-size: 20px; */
}

@media screen and (max-width: 1140px) {
    .css-fxbtpg {
        height: auto !important;
        min-height: 100vh !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 701px) {
    nav button {
        letter-spacing: 0 !important;
        font-size: 12px !important;
    }
}
